doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/skeleton.css")
    link(rel='stylesheet', href='/css/style.css')
    script(src="//platform.twitter.com/widgets.js", charset="utf-8")
    script(src="/js/bundle.js")
    script(src="/js/atomic.min.js")
    script(src="/js/tweetstorm.js")
  body
    block content
